<ion-header>
  <ion-navbar>
    <ion-title>{{ titulo_relatorio }}</ion-title>
  </ion-navbar>
</ion-header>
	
<ion-content padding>
	<ion-item-group *ngFor="let gasto of lista_gastos; let i = index">

	  <ion-item *ngIf="lista_gastos.length == 0">
	    Sem gastos!
	  </ion-item>
 
      <ion-item-divider style="background-color: #2E64FE;">{{gasto.categoria}}</ion-item-divider>
      <ion-item *ngFor="let item of gasto.itens">
      	<div>Dia {{ item.data }}: {{item.descricao}} <b>{{item.valor | currency}}</b></div>
      </ion-item>

      <ion-item>
      	<b>Total da Categoria: {{ gasto.total_categoria | currency}}</b>
	  </ion-item>

	  <ion-item *ngIf="i+1 == gastos.length">
	    <b>TOTAL DO MÊS: {{ gasto.total_mes | currency}}</b>
	  </ion-item>
 
    </ion-item-group>
</ion-content>
